{% extends 'Models/base.html' %}
{% load static %}

{% block title %} Bases de Datos {% endblock %}

{% block background %}{% static 'Home/img/background.jpg' %}{% endblock %}

{% block content %}

            
<div style='text-align: center; margin-top:15%; margin-bottom:30%'>
    <h1> Bases de Datos </h1>
    <h3> Bases de datos colaborativas.</h3>
    <p> Aquí puedes agregar y consultar información en nuestras bases de datos.</p>                
    <p> La consulta es libre.</p>
    <p style='color:red'> Insertar registros en nuestra base está disponible únicamente para usuarios registrados en esta comunidad.</p>
</div>


{% endblock %}