{% extends 'Models/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Agregar Presidentes {% endblock %}

{% block background %}{% static 'Home/img/background.jpg' %}{% endblock %}

{% block content %}

    <h1> REGISTRO DE PRESIDENTES </h1>
    <p> Ingresa aquí datos sobre Presidentes uruguayos </p>

    {% if form.errors %}
        <p> Error de validación, datos en el formulario incorrectos</p>
    {% endif %}

    <form action='{% url 'savePresidente' %}' method='POST'>
        {% csrf_token %}
        
        {% if check %}
        <p> ¡Registro exitoso! </p>
        {% endif %}

            {{form|crispy}} 
            
        <br>
        <button style='margin-bottom:15%' type="submit" class="btn btn-primary"> Guardar </button>
    </form>


{% endblock %}