{% extends 'Models/base.html' %}
{% load static %}

{% block title %} Consultar Registros {% endblock %}

{% block background %}{% static 'Home/img/background.jpg' %}{% endblock %}

{% block content %}

    <h1> BÚSQUEDA DE PRESIDENTES </h1>
    <p> Busca aquí información sobre Presidentes uruguayos </p>

    <form method='GET'>
        <input type='text' placeholder='Buscar' name='Buscar' value='{{request.GET.busqueda}}'>
        <button type='submit'> Buscar </button>

    </form>

    <table class='table table-striped'>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>ASUME</th>
                <th>FINALIZA</th>
                <th>PARTIDO</th>
                <th>CONSTITUCIONAL</th>
            </tr>
        </thead>
        <tbody>
            {% for i in registros %}
                <tr>
                    <th> {{i.id}}</th>
                    <th> {{i.nombre}}</th>
                    <th> {{i.apellido}}</th>
                    <th> {{i.asume_cargo}}</th>
                    <th> {{i.deja_cargo}}</th>
                    <th> {{i.partido}}</th>
                    <th> {{i.constitucional}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}